# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/

# Test & Log Files
*.log
test_out.txt
test_err.txt

# Corpo-Recon Output Reports (DO NOT PUSH SCANS)
*.json
*.txt
!requirements.txt

# Specific Reports Directory
reports/*.json
reports/*.txt

# Environment Variables 
.env